<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>장비 리스트</title>
  <h1> 장비 별 리스트 및 현황</h1>
</head>
<body>
<table class = "equip_list" border="1" cellspacing="1" summary="장비 리스트">
<colgroup>
  <col>
  <col width="150">
  <col width="150">
  <col width="150">
  <col width="150">
  <col width="150">
</colgroup>
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">모델명</th>
    <th scope="col">재고</th>
    <th scope="col">판매</th>
    <th scope="col">구매</th>
    <th scope="col">대체</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class ="title">

    </td>
    <td class="model_name">테스트1</td>
    <td class="stock_list">테스트2</td>
    <td class="sell_list">테스트3</td>
    <td class="purchase_list">테스트4</td>
    <td class="change_list">테스트5</td>

  </tr>
  </tbody>
</table>

</body>
</html>